@model PXLPRO2022Shoppers04.ViewModels.ClientInfoOrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="font-weight-bold">Thanks for ordering!</h2>
            </div>
            <div class="content">
                <div class="row w-100">
                    <div>
                        <div class="items">
                            @if (Model != null)
                            {
                                @foreach (var product in Model.Order.OrderLines)
                                {
                                    <div class="product">
                                        <div class="row w-100">
                                            <div class="col-md-3">
                                                <img class="img-fluid mx-auto d-block image" src="@product.Product.ImageLink">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="col-md-5 product-name">
                                                            <div class="product-name">
                                                                <a asp-action="Details" asp-controller="Product" asp-route-id="@product.Product.ProductId">@product.Product.Name</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 quantity m">
                                                            <label class="quantity-title" for="quantity">Quantity:</label>
                                                            <input disabled value="@product.Quantity" class="form-control quantity-input">
                                                        </div>
                                                        <div class="col-md-3 price">
                                                            <span>€ <calc-price price="@product.Product.Price" quantity="@product.Quantity"></calc-price></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="w-100">
                        <dt>
                            Name
                        </dt>
                        <dd>
                            @Model.Client.FullName
                        </dd>
                    </div>
                    <div class="w-100">
                        <dt>
                            Address
                        </dt>
                        <dd>
                            @Model.Address.FullAddress
                        </dd>
                    </div>
                    <div class="d-flex flex-column w-100">
                        <div class="summary mt-3 d-flex flex-column w-100">
                            <h3>Summary</h3>
                            <div class="summary-item">
                                <span class="text">Total</span><span class="price">€ <calc-total-price-for-order items="@Model.Order.OrderLines"></calc-total-price-for-order></span>
                           </div>
                          <a class="btn cart-nav-btn" asp-area="" asp-controller="Order" asp-action="Index">Your orders</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</main>




<style scoped>
    .form {
        width: 100%
    }

    body {
        background: url(https://ak.picdn.net/shutterstock/videos/19451212/thumb/1.jpg?ip=x480);
    }

    .shopping-cart {
     
        font-family: 'Montserrat', sans-serif;
        padding: 3%;
    
        margin-left: 15%;
        margin-right: 15%;
        border-radius: 0.5rem;
        background: #fff;
        
    }

        .shopping-cart.dark {
            background: url(https://ak.picdn.net/shutterstock/videos/19451212/thumb/1.jpg?ip=x480);
        }

        .shopping-cart .content {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
            background-color: white;
            padding-left:30px;
            border-radius: 5px;
        }

        .shopping-cart .block-heading {
            margin-bottom: 40px;
            text-align: center;
        }

            .shopping-cart .block-heading p {
                text-align: center;
                max-width: 420px;
                margin: auto;
                opacity: 0.7;
            }

        .shopping-cart .dark .block-heading p {
            opacity: 0.8;
        }

        .shopping-cart .block-heading h1,
        .shopping-cart .block-heading h2,
        .shopping-cart .block-heading h3 {
            margin-bottom: 1.2rem;
            color: white;
        }

        .shopping-cart .items {
            margin: auto;
        }

            .shopping-cart .items .product {
                margin-bottom: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

                .shopping-cart .items .product .info {
                    padding-top: 0px;
                    text-align: center;
                }

                    .shopping-cart .items .product .info .product-name {
                        font-weight: 600;
                        margin-top: 35px;
                    }

    top .shopping-cart .items .product .info .product-name .product-info {
        font-size: 14px;
        margin-top: 15px;
    }

    .shopping-cart .items .product .info .product-name .product-info .value {
        font-weight: 400;
    }

    .shopping-cart .items .product .info .quantity .quantity-title{
        margin-top: 30px;
    }

    .shopping-cart .items .product .info .quantity .quantity-input {
        margin: auto;
        width: 80px;
    }

    .shopping-cart .items .product .info .price {
        margin-top: 45px;
        font-weight: bold;
        font-size: 22px;
    }

    .shopping-cart .summary {
        border-top: 2px solid #917abc;
        background-color: #FAF6FF;
        height: 100%;
        padding: 30px;
        padding-top:5px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

        .shopping-cart .summary h3 {
            font-size: 1.3em;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 20px;
            
           
        }

        .shopping-cart .summary .summary-item:not(:last-of-type) {
            padding-bottom: 10px;
            padding-top: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .shopping-cart .summary .text {
            font-size: 1em;
            font-weight: 600;
        }

        .shopping-cart .summary .price {
            font-size: 1em;
            margin-left: 20px;
        }

        .shopping-cart .summary button {
            margin-top: 20px;
        }

    .changeQuantitySubmitBtn {
        width: 35px;
        height: 35px;
        outline: none;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("https://img.myloview.cz/plakaty/check-mark-check-list-icon-vector-design-template-400-222428279.jpg");
    }

    .removeBtn {
        justify-content: start;
        display: flex;
        margin: 5%
    }

    .product-name {
        textcolor: black;
    }

    .cart-nav-btn {
        border: none;
        border-radius: 1.5rem;
        width: 25%;
        margin-left: 35%;
        padding: 1%;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        background: black;
    }
</style>